/*  Общие стили для всех разделов */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

header,
main,
article,
div,
section,
aside,
footer,
nav {
  display: flex;
}

header,
main,
footer {
  width: 100vw;
}

/* Стиль для шапки */

header {
  height: 10vh;
  background-color: rgb(232, 230, 230);
  justify-content: center;
  align-items: center;
}

/* Стили для основной части */

main {
  height: 70vh;
}

article {
  background-color: rgb(250, 240, 178);
  width: 65%;
  flex-direction: column;
  justify-content: space-between;
}

section {
  background-color: rgb(252, 224, 165);
}

aside {
  background-color: rgb(223, 249, 207);
  width: 35%;
  justify-content: center;
}

p {
  width: 150px;
  height: 15px;
  margin: 30px;
}

.maintitle {
  align-self: center;
}

.bigbox {
  flex-direction: column;
  height: 50%;
}

.firstbox {
  flex-basis: 60%;
  justify-content: space-between;
  border: 0;
}

.secondbox {
  margin: 20px;
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
}

.littlebox {
  margin: 20px;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}

/* Стили для футера */

footer {
  height: 20vh;
  background-color: rgb(232, 230, 230);
  justify-content: space-between;
}

nav {
  background-color: rgb(248, 247, 247);
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-basis: 25%;
}
